	
	body{
		font-family: Arial,sans-serif;
		color:#333333;
		line-height:1.3em;
		height: auto;
		font-size: .9em;
		margin: 0px;
		padding: 0px;
		background-color: #ff9;
		max-width: 1200px;
	} 
	
	p{
	font-size: 12pt;	
	}
	
	
	a{
		color: #006699;
		text-decoration: none;
	}
	
	a:link{
		color:   #900;
		text-decoration: none;
	}
	
	a:visited{
		color: #901;
		text-decoration: none;
	}
	
	a:hover{
	color: #900;
	text-decoration:underline;
	te
	font-size: 12pt;
	}
	
	h1{
	color: #900;
	text-align: center;
	font-family: Verdana,Arial,sans-serif;
	font-size: 120%;
	margin: 0px;
	padding: 24px 0px 0px 0px;
	text-decoration: 
	}
	
	h2{
	 font-family: Arial,sans-serif;
	 font-size: 114%;
	 color:  #006699;
	 margin: 0px;
	 padding: 40px 0px 10px 0px;
	}
	
	h3{
	 font-family: Arial,sans-serif;
	 font-size: 100%;
	 color: #334d55;
	 margin: 0px;
	 padding: 0px;
	}
	
	h4{
	 font-family: Arial,sans-serif;
	 font-size: 100%;
	 font-weight: normal;
	 color: #333333;
	 margin: 0px;
	 padding: 0px;
	}
	
	h5{
	 font-family: Verdana,Arial,sans-serif;
	 font-size: 100%;
	 color: #334d55;
	 margin: 0px;
	 padding: 0px;
	}
	
	
	
	ul{
	 list-style-type: square;
	}
	
	ul ul{
	 list-style-type: disc;
	}
	
	ul ul ul{
	 list-style-type: none;
	}
	td	{
	font-size:13px;
	}
		
			
	label{
	 font-family: Arial,sans-serif;
	 font-size: 100%;
	 font-weight: bold;
	 color: #334d55;
	}
	
	.caption{
		font-size:10px;
		font-style:italic;
		color:navy;
		text-align:center;
	}
	
	.LFMR{
		font-family:Geneva, Arial, Helvetica, sans-serif;
		font-size:14px;
		color:#0000FF;
	}
	
	.blink{
		text-decoration:blink;
	}
	.old{
		font:Algerian, "Times New Roman", Times, serif;
		text-shadow:#999999;
		font-weight:bold;
		color:#FF0000;
	}
		
	.contacts {
		line-height:1.5em;
	}
	
	.centered{
		text-align: center;
		margin: auto;
	}
	
	.checkbox{
		position: relative;
		clear:both;
		width: 100px;
		float: left;
	}	
	
	/***********************************************/
	/* Layout Divs                                 */
	/***********************************************/
	#page {
		   position: absolute;
		   margin-top:10px;
		   left: 50%;
		   width: 1000px ;
		   margin-left: -500px ; /* half the width measurement */
		   padding: 20px 20px 80px 20px;
		   background-color:#ff9;	     
	 }   
	
	
	#header{
			position: relative;
			width: 100%;
			height: auto;
	}
	
	#nav{
		position: relative;
			width: 100%;
			height: auto;
	}
	
	li{	
	list-style-type: none;
	margin-top: 17px;
	}
			
		
		
	#filmstrip{
		margin-top: 27px;
		margin-bottom: 2px;
		float: left;
		
		
	}
	
	/*
	#blurb{
	overflow: auto;
	background-color:#14007a;
	text-indent: 30px;
	text-align: justify;
	position:relative;
	color: white;
	margin-left: 135px;
	margin-top:100px;
	width: 700px;
	height: 810px;	
	overflow:auto;
	padding-bottom: 30px;
	} /* must be same height as the footer */
	
/*
	#blurb{
		float: left;
		margin-top: 27px;
		overflow: auto;
		margin-left: 25px;
		width: 620px;
		height: 755px;
		background-color: blue;
		padding: 50px;
		text-align: justify;
		color: white;
		
	}
	
*/

#blurb{
		clear:right;
		z-index: 3;
		margin-top: 27px;
		float:left;
		width: 590px;
		position: relative;
		margin-left:50px;
		min-height: 735px;
		background-color:#ff9;
		padding: 0px 50px 0px 50px ;
		text-align: justify;
		color: #14007a;
}



#adverts_include{
		
		margin-top: 10px;
		float: right;
		height: 830px;
		width: 12%;	
		background-color:#FF9;
	}
	
		
	
	#advert{
		background-color: red;
		background-repeat: no-repeat;
		position: relative;
		height:140; width: 100%;
	}
	

	#footer {
	clear: both;
	width: 100%;
	height:25px;
	color: black;
	background-color: #990000;
	text-align: center;
	padding-top: 10px;   
	margin: 15px auto;
	border-color: #ff9;
	}	
		/* background-image: url(../Images/printericon.jpg); */
		
	#printbutton{
	position: relative;
	width: 216px; height: auto;
	margin: 15px auto;
	border: 2px solid blue;
	
}

#newprintbutton{
	position:relative;
	width: 55px;
	height: 55px;
	margin: 15px auto;
	padding: 2 0 0 4;
	background-image:url(../Images/printer_icon.png);
	background-repeat: no-repeat;
	background-position: center center; 
	
	border-style: solid;
	border-width:2px;
	border-color: #933;
	border-radius: 5px;
	
}

#nextrun{
	position:relative;
	width: 235px;
	height: 17px;
	float: right;
	text-align: center;
	padding: 7px;
	color: yellow;
	border-radius: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: #761414;
	
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.08, #9E1111),
	color-stop(1, #D42222),
	color-stop(1, #992929)
);
background-image: -o-linear-gradient(bottom, #9E1111 8%, #D42222 100%, #992929 100%);
background-image: -moz-linear-gradient(bottom, #9E1111 8%, #D42222 100%, #992929 100%);
background-image: -webkit-linear-gradient(bottom, #9E1111 8%, #D42222 100%, #992929 100%);
background-image: -ms-linear-gradient(bottom, #9E1111 8%, #D42222 100%, #992929 100%);
background-image: linear-gradient(to bottom, #9E1111 8%, #D42222 100%, #992929 100%);
}

.list {color:green;
	
}

#archives{
	width: 80%;
	height: auto;
	margin: auto;
}	